<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lauren & Marc</title>


    <!-- Library CSS -->
    <link href="css/wedding_library.css" rel="stylesheet">

    <!-- Icons CSS -->
    <link href="fonts/themify-icons.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/wedding_style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="css/leaves.css" type="text/css" media="screen">

    <!-- Google Fonts -->
   <link href="https://fonts.googleapis.com/css?family=Lato:300,400,900" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">

</head>
<body class="wed_firefly_only">


  <!-- Preloader -->
  <div class="wed_page_loader">
     <div class="wed_story_content wed_image_bck" data-color="#ff3">
      <div class="wed_heart_container_row_4">
        <img class="wed_fourth_heart_1" src="images/small_people/heart_1.png" alt="">
        <img class="wed_fourth_heart_2" src="images/small_people/heart_2.png" alt="">
        <img class="wed_fourth_heart_3" src="images/small_people/heart_3.png" alt="">
      </div>
      <div class="wed_story_small_img">
        <img src="images/small_people/small_couple.png" alt="">
      </div>

    </div>
  </div>
  <!-- Preloader End-->

  <!-- Floral Animation -->
  <div id="leafContainer" data-image="floral"></div>
  <!-- Floral Animaton End -->



  <!-- Page -->
  <div class="wed_page" id="wed_page">

    <!-- Header -->
    <header>
      <nav class="wed_light_nav wed_transp_nav">
        <div class="container">

          <!-- couple header -->
          <img class="wed_couple_header wed_kissing_couple animated extra" src="images/3.png" alt=""/>
          <img class="wed_couple_header wed_white_couple animated extra" src="images/3_white_couple.png" alt=""/>
          <!-- couple header end -->

          <!-- Logo -->
          <a href="#" class="wed_logo wed_logo_animation">Lauren & Marc</a>

          <!-- Text Logo -->
          <div class="wed_logo_und">Wedding</div>


          <div class="wed_top_menu_mobile_link">
            <i class="ti ti-menu"></i>
          </div>
          <!-- Top Menu -->
          <div class="wed_top_menu_cont">
              <ul class="wed_top_menu">
                <li><a href="#">Home</a></li>
                <li><a href="#story">Story</a></li>
                <li><a href="#where">When & Where</a></li>
                <li><a href="#gallery">Pictures</a></li>
                <li><a href="#funbits">Tidbits</a></li>
                <li><a href="#registry">Gift Registry</a></li>
              </ul>
          </div>
          <!-- Top Menu End -->
        </div>
        <!-- container end -->
      </nav>

    </header>
    <!-- Header End -->

    <!-- Firefly -->
    <div class="wed_firefly">
      <div class="jqueryFireFly" data-total="80" data-minPixel="1" data-maxPixel="6"></div>
    </div>

    <!-- Slider -->
    <div class="wed_slider wed_image_bck wed_fixed wed_wht_txt" data-stellar-background-ratio="0.2" data-image="images/personal/cover.jpg">

      <!-- over -->
      <div class="wed_over" data-color="#000" data-opacity="0.1" data-blend="multiply"></div>

      <div class="container">

        <!-- Slider Texts -->
        <div class="wed_slide_txt wed_slide_right text-center"  data-0="opacity:1;" data--400-bottom="opacity:0;">
          <img src="images/save_right.png" height="550" alt="">
        </div>
        <!-- Slider Texts End -->

      </div>
      <!-- container end -->

    </div>
    <!-- Slider End -->

    <!-- Content -->
    <section id="wed_content" class="wed_content">

        <!-- section -->




        <!-- story section -->
        <section id="story" class="wed_section_outter">

          <div class="container">
            <div class="row">

                <div class="col-sm-12 col-md-offset-2 col-md-8 text-center">
                    <div class="wed_topstory_titile wed_great_titles">
                        <h2 class= "wed_without_after wed_image_bck" data-txt-color="#1A237E" >
                            Our <img class="wed_small_img" src="images/1.png" alt=""> Story
                        </h2>
                    </div>
                </div>
            </div>
            <!-- Row end -->

            <!-- animation -->
            <div data-animation="animation_blocks" data-bottom="@class:noactive" data--10-bottom="@class:active">
              <!-- item-->
              <div class="row wed_story_row">

                  <div class="col-sm-12 col-md-5 text-center wed_bd" >
                      <div class="wed_second_border wed_image_bck" data-border=transparent></div>
                      <div class="wed_portfolio_item wed_story_img">
                        <div class="wed_portfolio_item_cont wed_story_cont wed_image_bck" data-border="#B3E5FC">

                           <!--PHOTO-->
                          <img class= "wed_img_height" src="images/personal/first_pic.png" alt="" >
                            <!--ICON LINK-->
                          <span class="wed_port_titles">
                            <span class="wed_port_title">First Picture</span>
                            <span class="wed_port_subtitle">Winter 2010</span>
                            <span class="wed_port_icons">
                                <a href="#"><i class="ti ti-link"></i></a>
                                <a href="images/personal/first_pic.png" class="lightbox"><i class="ti ti-search"></i></a>
                            </span>
                          </span>
                          <!--END of ICON LINK-->

                        </div>
                      </div>
                  </div>

                  <div class="col-md-2 hidden-sm hidden-xs text-center">
                    <div class="wed_story_center">
                      <div class="wed_story_content wed_image_bck" data-color="#ff3">
                        <div class="wed_heart_container">
                          <img class="wed_heart_1" src="images/small_people/heart_3.png" alt="">
                          <img class="wed_heart_2" src="images/small_people/heart_2.png" alt="">
                        </div>
                        <div class="wed_story_small_img">
                          <img src="images/small_people/couple_1.png" alt="">
                        </div>

                      </div>
                    </div>
                  </div>

                  <div class="col-sm-12 col-md-5">
                    <div class="wed_story_txt">
                      <h3>We First Met</h3>
                      <div class="wed_month_year">Winter 2010</div>
                      <h5>Our first picture (without our respective dates)</h5>
                      <p>We met at Cornell during Marc's Sophomore year and Lauren's freshman year. It definitely wasn't love at first sight - we don't remember meeting (and only found this picture in 2018)!</p>

                    </div>
                  </div>


                   <div class="wed_vertical_line wed_line_top hidden-sm hidden-xs"></div>
                </div>
                <!-- END of STORY ROW-1 -->
              </div>
              <!-- Animation End -->

              <!-- animation -->
              <div data-animation="animation_blocks" data-bottom="@class:noactive" data--10-bottom="@class:active">
                <!-- item-->
                <div class="row wed_story_row">

                  <div class="col-sm-12 col-md-5 col-md-push-7 text-center wed_bd">
                    <div class="wed_second_border_right wed_image_bck" data-border=transparent></div>
                    <div class="wed_portfolio_item wed_story_img">
                      <div class="wed_portfolio_item_cont wed_story_cont wed_image_bck" data-border="#B3E5FC">

                        <!--PHOTO-->
                        <img src="images/personal/winetour.jpg" alt="" class= "wed_img_height">
                        <!--ICON LINK-->
                        <span class="wed_port_titles">
                          <span class="wed_port_title">Wine Tour</span>
                          <span class="wed_port_subtitle">September 2010</span>
                          <span class="wed_port_icons">
                            <a href="#"><i class="ti ti-link"></i></a>
                            <a href="images/personal/winetour.jpg" class="lightbox"><i class="ti ti-search"></i></a>
                          </span>
                        </span>
                      <!--END of ICON LINK-->
                      </div>
                    </div>
                  </div>

                  <div class="col-md-2 hidden-sm hidden-xs text-center">
                    <div class="wed_story_center">
                      <div class="wed_story_content wed_image_bck" data-color="#ff3">
                        <div class="wed_heart_container_row_2">
                          <img class="wed_second_heart_1" src="images/small_people/heart_3.png" alt="">
                          <img class="wed_second_heart_2" src="images/small_people/heart_1.png" alt="">
                           <img class="wed_second_heart_3" src="images/small_people/heart_2.png" alt="">
                        </div>
                        <div class="wed_story_small_img">
                          <img src="images/small_people/couple_2.png" alt="">
                        </div>

                      </div>
                    </div>
                  </div>

                  <div class="col-sm-12 col-md-5 col-md-pull-7 text-right">
                    <div class="wed_story_txt">
                        <h3>Our First Date(s)</h3>
                        <div class="wed_month_year">Spring & Summer 2010</div>
                        <h5>The relationship that almost wasn't</h5>
                        <p> Later that year, the courtship began. After dates in Ithaca, NYC, and even Quogue, by September 2010, both Lauren and Marc knew they wanted to give this relationship an honest try.</p>
                      </div>
                  </div>
                  <div class="wed_vertical_line hidden-sm hidden-xs"></div>
                </div>
                <!-- END of STORY ROW-2 -->
              </div>
              <!-- Animation End -->

               <!-- animation -->
              <div data-animation="animation_blocks" data-bottom="@class:noactive" data--10-bottom="@class:active">
                <!-- item-->
                <div class="row wed_story_row">
                  <div class="col-md-5 text-center wed_bd">
                    <div class="wed_second_border wed_image_bck" data-border=transparent></div>
                    <div class=" wed_portfolio_item event wed_story_img">
                      <div class="wed_portfolio_item_cont wed_story_cont wed_image_bck" data-border="#B3E5FC">

                        <!--PHOTO-->
                        <img src="http://placehold.it/790x600" alt="" class= "wed_img_height">
                        <!--ICON LINK-->
                        <span class="wed_port_titles">
                          <span class="wed_port_title">Centennial Park</span>
                          <span class="wed_port_subtitle">Ribfest 2016</span>
                          <span class="wed_port_icons">
                            <a href="#"><i class="ti ti-link"></i></a>
                            <a href="http://placehold.it/1400x900" class="lightbox"><i class="ti ti-search"></i></a>
                          </span>
                        </span>
                      <!--END of ICON LINK-->

                      </div>
                    </div>
                  </div>

                  <div class="col-md-2 hidden-sm hidden-xs text-center">
                    <div class="wed_story_center">
                      <div class="wed_story_content wed_image_bck" data-color="#ff3">
                        <div class="wed_heart_container_row_3">
                          <img class="wed_third_heart_1" src="images/small_people/heart_third_step_3.png" alt="">
                        </div>
                        <div class="wed_story_small_img">
                          <img src="images/small_people/small_couple_third.png" alt="">
                        </div>

                      </div>
                    </div>
                  </div>

                  <div class="col-md-5">
                    <div class="wed_story_txt">
                      <h3>[NAME TBD]</h3>
                      <div class="wed_month_year">16 Nov 2016</div>
                      <h5>That day changed everything</h5>
                      <p>Placeholder --- this will be about everyday life and have the picture of running maybe?</p>
                    </div>
                  </div>
                  <div class="wed_vertical_line hidden-sm hidden-xs"></div>
                </div>
                <!-- END of STORY ROW-3 -->
              </div>
              <!-- Animation End -->

              <!-- animation -->
              <div data-animation="animation_blocks" data-bottom="@class:noactive" data--10-bottom="@class:active">
                <!-- item-->
                <div class="row wed_story_row">

                  <div class="col-sm-12 col-md-5 col-md-push-7 text-center wed_bd">
                    <div class="wed_second_border_right wed_image_bck" data-border=transparent></div>
                    <div class="wed_portfolio_item event wed_story_img">
                      <div class="wed_portfolio_item_cont wed_story_cont wed_image_bck" data-border="#B3E5FC">

                        <!--PHOTO-->
                        <img src="images/personal/proposal.jpg" alt="" class= "wed_img_height">
                        <!--ICON LINK-->
                        <span class="wed_port_titles">
                          <span class="wed_port_title">Los Cabos, Mexico</span>
                          <span class="wed_port_subtitle">January 2018</span>
                          <span class="wed_port_icons">
                            <a href="#"><i class="ti ti-link"></i></a>
                            <a href="images/personal/proposal.jpg" class="lightbox"><i class="ti ti-search"></i></a>
                          </span>
                        </span>
                        <!--END of ICON LINK-->

                      </div>
                    </div>
                  </div>

                  <div class="col-md-2 hidden-sm hidden-xs text-center">
                    <div class="wed_story_center">
                      <div class="wed_story_content wed_image_bck" data-color="#ff3">
                        <div class="wed_heart_container_row_4">
                          <img class="wed_fourth_heart_1" src="images/small_people/heart_1.png" alt="">
                          <img class="wed_fourth_heart_2" src="images/small_people/heart_2.png" alt="">
                           <img class="wed_fourth_heart_3" src="images/small_people/heart_3.png" alt="">
                        </div>
                        <div class="wed_story_small_img">
                          <img src="images/small_people/small_couple.png" alt="">
                        </div>

                      </div>
                    </div>
                  </div>

                  <div class="col-sm-12 col-md-5 col-md-pull-7 text-right">
                    <div class="wed_story_txt">
                      <h3>The Proposal</h3>
                      <div class="wed_month_year">January 9, 2018</div>
                      <h5>The best day yet</h5>
                      <p>Talk about the proposal :) </p>
                    </div>
                  </div>
                  <div class="wed_vertical_line wed_line_bottom hidden-sm hidden-xs"></div>
                </div>
                <!-- END of STORY ROW-4 -->
              </div>
              <!-- Animation End -->
          </div>
          <!-- END of CONTAINER -->

        </section>
        <!-- Section end -->


      <!-- White border -->
      <div class="wed_white_inner_border">
        <!-- section -->
        <section class="wed_section_inner wed_image_bck wed_wht_txt wed_fixed" data-stellar-background-ratio="0.2" data-image="images/white_slider.jpg">
          <!-- Over -->
          <div class="wed_over" data-color="#3336ff" data-opacity="0.7"></div>
          <div class="wed_over" data-color="#3336ff" data-opacity="0.9" data-blend="screen"></div>

          <div class="container">
            <div class="row wed_auto_height wed_middle_titles">
              <div class="col-md-12 wed_image_bck wed_fixed text-center" >
                  <h2>Can't Wait to Celebrate!</h2>
              </div>
              <!-- col end -->
            </div>
            <!-- row end -->
            <span class="wed_countdown" data-year="2019" data-month="06" data-day="01"></span>
          </div>
          <!-- container end -->

        </section>
        <!-- section end -->

        <!-- section -->
        <section id="where" class="wed_section_inner">
          <div class="container-full">
            <div class="row">

              <div class="col-md-4 wed_wht_txt wed_image_bck wed_service_block" data-image="http://placehold.it/790x600">
                <!-- Over -->
                <div class="wed_over" data-color="rgb(151, 124, 245)" data-opacity="0.3" data-blend="color"></div>
                <div class="wed_over" data-color="#000" data-opacity="0.3"></div>

                <div class="wed_simple_block text-center">
                  <h4>Welcome Drinks</h4>
                  <br>
                  <p>Location TBD</p>
                </div>
              </div>

              <div class="col-md-4 wed_wht_txt wed_image_bck wed_service_block" data-image="http://placehold.it/790x600">
                <!-- Over -->
                <div class="wed_over" data-color="rgb(151, 124, 245)" data-opacity="0.3" data-blend="color"></div>
                <div class="wed_over" data-color="#000" data-opacity="0.3"></div>

                <div class="wed_simple_block text-center">
                  <h4>Ceremony & Reception</h4>
                  <br>
                  <p>Location TBD<p>
                </div>
              </div>

              <div class="col-md-4 wed_wht_txt wed_image_bck wed_service_block" data-image="http://placehold.it/790x600">
                <!-- Over -->
                <div class="wed_over" data-color="rgb(151, 124, 245)" data-opacity="0.3" data-blend="color"></div>
                <div class="wed_over" data-color="#000" data-opacity="0.3"></div>

                <div class="wed_simple_block text-center">
                  <h4>Friday Brunch</h4>
                  <br>
                  <p>Location TBD<p>
                </div>
              </div>
            </div>
            <!-- Row end -->
          </div>
          <!-- Container end -->
        </section>
        <!-- section end -->

        <!-- section -->
        <section class="wed_section_inner wed_image_bck wed_wht_txt wed_fixed wed_border" data-stellar-background-ratio="0.2" data-image="http://placehold.it/1400x900" >
          <!-- Over -->
          <div class="wed_over" data-color="#3336ff" data-opacity="0.7"></div>
          <div class="wed_over" data-color="#3336ff" data-opacity="0.9" data-blend="screen"></div>

          <div class="container">
            <div class="row wed_auto_height wed_middle_titles">
              <div class="col-md-12 wed_image_bck wed_fixed text-center" >
                <h2> Accomodations</h2>
                <p> Since our wedding is taking place during the height of the summer season, we strongly encourage all out-of-town guests to secure accommodations as early as possible. <br>
                  <br> There will be a block of rooms availible for reservation starting mid July 2018, but feel free to explore alternative options (i.e. Airbnb & VRBO).</p>
              </div>
              <!-- col end -->

            </div>
            <!-- row end -->

           </div>
          <!-- container end -->

        </section>
        <!-- section end -->
      </div>
      <!-- White border end-->

      <!-- section -->
      <section id="gallery" class="wed_section_outter wed_image_bck">


        <div class="container text-center wed_great_titles" >

          <h2>Pictures Over The Years</h2>


          <!-- filters -->
          <div class="button-group filter-button-group">
            <a data-filter="*">Show All</a>
            <a data-filter=".web_design">Around New York</a>
            <a data-filter=".graphic_design">Our Travels</a>
            <a data-filter=".logo_design">Engagement</a>
          </div>
          <!-- filters end -->


          <!-- grid -->
          <div class="wed_portfolio grid">

              <!-- item -->
              <div class="col-sm-3 wed_portfolio_item grid-item web_design">
                <div class="wed_portfolio_item_cont">
                  <img src="images/personal/graduation.jpg" alt="">
                  <span class="wed_port_titles">
                    <span class="wed_port_title">Lauren's Graduation</span>
                    <span class="wed_port_icons">
                      <a href="#"><i class="ti ti-link"></i></a>
                      <a href="images/personal/graduation.jpg" class="lightbox"><i class="ti ti-search"></i></a>
                    </span>
                  </span>
                </div>
              </div>

              <!-- item -->
              <div class="col-sm-3 wed_portfolio_item grid-item logo_design">
                <div class="wed_portfolio_item_cont">
                  <img src="images/personal/theroom.jpg" alt="">
                  <span class="wed_port_titles">
                    <span class="wed_port_title">Engagement</span>
                    <span class="wed_port_icons">
                      <a href="#"><i class="ti ti-link"></i></a>
                      <a href="images/personal/theroom.jpg" class="lightbox"><i class="ti ti-search"></i></a>
                    </span>
                  </span>
                </div>
              </div>

              <!-- item -->
              <div class="col-sm-3 wed_portfolio_item grid-item web_design">
                <div class="wed_portfolio_item_cont">
                  <img src="images/personal/formal.jpg" alt="">
                  <span class="wed_port_titles">
                    <span class="wed_port_title">Cornell Formal</span>
                    <span class="wed_port_icons">
                      <a href="#"><i class="ti ti-link"></i></a>
                      <a href="images/personal/formal.jpg" class="lightbox"><i class="ti ti-search"></i></a>
                    </span>
                  </span>
                </div>
              </div>

              <!-- item -->
              <div class="col-sm-3 wed_portfolio_item grid-item logo_design">
                <div class="wed_portfolio_item_cont">
                  <img src="images/personal/sunset.jpg" alt="">
                  <span class="wed_port_titles">
                    <span class="wed_port_title">Engagement</span>
                    <span class="wed_port_icons">
                      <a href="#"><i class="ti ti-link"></i></a>
                      <a href="images/personal/sunset.jpg" class="lightbox"><i class="ti ti-search"></i></a>
                    </span>
                  </span>
                </div>
              </div>

              <!-- item -->
              <div class="col-sm-3 wed_portfolio_item grid-item graphic_design">
                <div class="wed_portfolio_item_cont">
                  <img src="images/personal/bigbuddha.jpg" alt="">
                  <span class="wed_port_titles">
                    <span class="wed_port_title">Hong Kong</span>
                    <span class="wed_port_icons">
                      <a href="#"><i class="ti ti-link"></i></a>
                      <a href="images/personal/bigbuddha.jpg" class="lightbox"><i class="ti ti-search"></i></a>
                    </span>
                  </span>
                </div>
              </div>

              <!-- item -->
              <div class="col-sm-3 wed_portfolio_item grid-item graphic_design">
                <div class="wed_portfolio_item_cont">
                  <img src="images/personal/thailand.jpg" alt="">
                  <span class="wed_port_titles">
                    <span class="wed_port_title">Thailand</span>
                    <span class="wed_port_icons">
                      <a href="#"><i class="ti ti-link"></i></a>
                      <a href="images/personal/thailand.jpg" class="lightbox"><i class="ti ti-search"></i></a>
                    </span>
                  </span>
                </div>
              </div>

              <!-- item -->
              <div class="col-sm-3 wed_portfolio_item grid-item logo_design">
                <div class="wed_portfolio_item_cont">
                  <img src="images/personal/shackfun.jpg" alt="">
                    <span class="wed_port_titles">
                      <span class="wed_port_title">Engagement</span>
                      <span class="wed_port_icons">
                        <a href="#"><i class="ti ti-link"></i></a>
                        <a href="images/personal/shackfun.jpg" class="lightbox"><i class="ti ti-search"></i></a>
                      </span>
                  </span>
                </div>
              </div>
              <!-- item -->
              <div class="col-sm-3 wed_portfolio_item grid-item web_design">
                <div class="wed_portfolio_item_cont">
                  <img src="images/personal/running.jpg" alt="">
                  <span class="wed_port_titles">
                    <span class="wed_port_title">Brooklyn Half Marathon</span>
                    <span class="wed_port_icons">
                      <a href="#"><i class="ti ti-link"></i></a>
                      <a href="images/personal/running.jpg" class="lightbox"><i class="ti ti-search"></i></a>
                    </span>
                  </span>
                </div>
              </div>

              <!-- item -->
              <div class="col-sm-3 wed_portfolio_item grid-item logo_design">
                <div class="wed_portfolio_item_cont">
                  <img src="images/personal/lobby2.jpg" alt="">
                  <span class="wed_port_titles">
                    <span class="wed_port_title">Engagement</span>
                    <span class="wed_port_icons">
                      <a href="#"><i class="ti ti-link"></i></a>
                      <a href="images/personal/lobby2.jpg" class="lightbox"><i class="ti ti-search"></i></a>
                    </span>
                  </span>
                </div>
              </div>

              <!-- item -->
              <div class="col-sm-3 wed_portfolio_item grid-item graphic_design">
                <div class="wed_portfolio_item_cont">
                  <img src="images/personal/theoffice.jpg" alt="">
                  <span class="wed_port_titles">
                    <span class="wed_port_title">Los Cabos</span>
                      <span class="wed_port_icons">
                        <a href="#"><i class="ti ti-link"></i></a>
                        <a href="images/personal/theoffice.jpg" class="lightbox"><i class="ti ti-search"></i></a>
                      </span>
                  </span>
                </div>
              </div>

              <!-- item -->
              <div class="col-sm-3 wed_portfolio_item grid-item logo_design">
                <div class="wed_portfolio_item_cont">
                  <img src="images/personal/cover_original.jpg" alt="">
                    <span class="wed_port_titles">
                      <span class="wed_port_title">Engagement</span>
                      <span class="wed_port_icons">
                        <a href="#"><i class="ti ti-link"></i></a>
                        <a href="images/personal/cover_original.jpg" class="lightbox"><i class="ti ti-search"></i></a>
                      </span>
                  </span>
                </div>
              </div>

              <!-- item -->
              <div class="col-sm-3 wed_portfolio_item grid-item web_design">
                <div class="wed_portfolio_item_cont">
                  <img src="images/personal/usopen.jpg" alt="">
                  <span class="wed_port_titles">
                    <span class="wed_port_title">The US Open</span>
                    <span class="wed_port_icons">
                      <a href="#"><i class="ti ti-link"></i></a>
                      <a href="images/personal/usopen.jpg" class="lightbox"><i class="ti ti-search"></i></a>
                    </span>
                  </span>
                </div>
              </div>

              <!-- item -->
              <div class="col-sm-3 wed_portfolio_item grid-item logo_design">
                <div class="wed_portfolio_item_cont">
                  <img src="images/personal/dipping.jpg" alt="">
                  <span class="wed_port_titles">
                    <span class="wed_port_title">Engagement</span>
                    <span class="wed_port_icons">
                      <a href="#"><i class="ti ti-link"></i></a>
                      <a href="images/personal/dipping.jpg" class="lightbox"><i class="ti ti-search"></i></a>
                    </span>
                  </span>
                </div>
              </div>

              <!-- item -->
              <div class="col-sm-3 wed_portfolio_item grid-item graphic_design">
                <div class="wed_portfolio_item_cont">
                  <img src="images/personal/carmel.jpg" alt="">
                  <span class="wed_port_titles">
                    <span class="wed_port_title">Pebble Beach</span>
                      <span class="wed_port_icons">
                        <a href="#"><i class="ti ti-link"></i></a>
                        <a href="images/personal/carmel.jpg" class="lightbox"><i class="ti ti-search"></i></a>
                      </span>
                  </span>
                </div>
              </div>

            <!-- item -->
            <div class="col-sm-3 wed_portfolio_item grid-item web_design">
              <div class="wed_portfolio_item_cont">
                <img src="images/personal/kimmel.jpg" alt="">
                <span class="wed_port_titles">
                    <span class="wed_port_title">Jimmy Kimmel Live (in Brooklyn)</span>
                      <span class="wed_port_icons">
                        <a href="#"><i class="ti ti-link"></i></a>
                        <a href="images/personal/kimmel.jpg" class="lightbox"><i class="ti ti-search"></i></a>
                      </span>
                    </span>
                  </div>
                </div>

              <!-- item -->
              <div class="col-sm-3 wed_portfolio_item grid-item logo_design">
                <div class="wed_portfolio_item_cont">
                  <img src="images/personal/proposal.jpg" alt="">
                  <span class="wed_port_titles">
                    <span class="wed_port_title">Engagement</span>
                    <span class="wed_port_icons">
                      <a href="#"><i class="ti ti-link"></i></a>
                      <a href="images/personal/proposal.jpg" class="lightbox"><i class="ti ti-search"></i></a>
                    </span>
                  </span>
                </div>
              </div>

              <!-- item -->
              <div class="col-sm-3 wed_portfolio_item grid-item graphic_design">
                <div class="wed_portfolio_item_cont">
                  <img src="images/personal/sf.jpg" alt="">
                  <span class="wed_port_titles">
                    <span class="wed_port_title">San Francisco</span>
                      <span class="wed_port_icons">
                        <a href="#"><i class="ti ti-link"></i></a>
                        <a href="images/personal/sf.jpg" class="lightbox"><i class="ti ti-search"></i></a>
                      </span>
                  </span>
                </div>
              </div>

              <!-- item -->
              <div class="col-sm-3 wed_portfolio_item grid-item graphic_design">
                <div class="wed_portfolio_item_cont">
                  <img src="images/personal/santamonica.jpg" alt="">
                  <span class="wed_port_titles">
                    <span class="wed_port_title">Santa Monica</span>
                      <span class="wed_port_icons">
                        <a href="#"><i class="ti ti-link"></i></a>
                        <a href="images/personal/santamonica.jpg" class="lightbox"><i class="ti ti-search"></i></a>
                      </span>
                  </span>
                </div>
              </div>

              <!-- item -->
              <div class="col-sm-3 wed_portfolio_item grid-item logo_design">
                <div class="wed_portfolio_item_cont">
                  <img src="images/personal/lobby1.jpg" alt="">
                  <span class="wed_port_titles">
                    <span class="wed_port_title">Engagement</span>
                    <span class="wed_port_icons">
                      <a href="#"><i class="ti ti-link"></i></a>
                      <a href="images/personal/lobby1.jpg" class="lightbox"><i class="ti ti-search"></i></a>
                    </span>
                  </span>
                </div>
              </div>

          </div>
          <!-- grid end -->

        </div>
        <!-- container end -->

      </section>
      <!-- section end -->


      <!-- section -->
      <section id="funbits" class="wed_section_inner wed_image_bck wed_fixed wed_wht_txt" data-stellar-background-ratio="0.2" data-image="http://placehold.it/1400x900" >
        <!-- OVER -->
        <div class="wed_over" data-color="#000" data-opacity="0.1"></div>
        <div class="container">
            <div class="row wed_auto_height wed_middle_titles ">

                <!-- animation -->
              <div data-animation="animation_blocks" data-bottom="@class:noactive" data--100-bottom="@class:active">

                <div class="col-md-5 wed_image_bck wed_fixed text-left wed_small_arrow">
                    <h2 class="wed_image_bck" data-txt-color="#f50">Sally Craft</h2>
                    <h4>The Bride</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, vel. Odio, ex ut veritatis reprehenderit in facilis nobis! Ratione eos sint eligendi exercitationem consequatur, distinctio molestias minima, assumenda nulla autem!</p>
                    <p><img src="images/laracroft_sign.png" height="80" alt=""></p>
                </div>
                <!-- col end -->

              </div>
              <!-- Animation End -->
            </div>
            <!-- row end -->
        </div>
        <!-- container end -->
      </section>
      <!-- section end -->

      <!-- section -->
      <section class="wed_section_inner wed_image_bck wed_fixed wed_wht_txt" data-stellar-background-ratio="0.2" data-image="http://placehold.it/1400x900" >

        <!-- OVER -->
        <div class="wed_over" data-color="#000" data-opacity="0.1"></div>

        <div class="container">
          <div class="row wed_auto_height wed_middle_titles">

            <!-- animation -->
            <div data-animation="animation_blocks" data-bottom="@class:noactive" data--100-bottom="@class:active">

              <div class="col-md-5 col-md-offset-7 wed_image_bck wed_fixed text-left wed_groom wed_small_arrow" >
                  <h2>Mark Holts</h2>
                  <h4>The Groom</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, vel. Odio, ex ut veritatis reprehenderit in facilis nobis! Ratione eos sint eligendi exercitationem consequatur, distinctio molestias minima, assumenda nulla autem !</p>
                  <p><img src="images/Robert_Mugabe_Signature_wh.png" height="80" alt=""></p>

              </div>
              <!-- col end -->
            </div>
            <!-- Animation End -->

          </div>
          <!-- row end -->
        </div>
        <!-- container end -->

      </section>
      <!-- section end -->

      <!-- White border -->
      <div class="wed_white_inner_border">

      <!-- section -->
      <section id="registry" class="wed_section_outter wed_image_bck">
        <div class="container text-center wed_great_titles">

        <h2>Gift Registry</h2>
          <!-- boxes -->
          <div class="wed_icon_boxes row text-center">

              <div class="col-md-9 col-md-offset-3">
                  <div class="row">
                      <!-- item -->
                    <div class="col-md-4 col-sm-4">
                        <a href="#" class="wed_news_block">
                          <span class="wed_gifts_img wed_image_bck" data-border="#e4d4fb">
                            <img src="images/personal/bedbath.jpeg" alt=""/>
                          </span>
                        </a>
                    </div>

                    <!-- item -->
                    <div class="col-md-4 col-sm-4">
                      <a href="#" class="wed_news_block">
                        <span class="wed_gifts_img wed_image_bck" data-border="#e4d4fb">
                           <img src="images/personal/bloomingdales.png" alt=""/>
                        </span>
                      </a>
                    </div>

          </div>
          <!-- boxes end -->
        </div>
        <!-- container end -->
      </section>
      <!-- section end -->


      </div>
      <!-- Border End -->

          <!-- To Top -->
        <a href="#wed_page" class="wed_top ti ti-angle-up wed_go wed_image_bck" data-txt-color="#1A237E"></a>
      </div>
      <!-- White border end -->
    </section>
    <!-- content end -->
  </div>
  <!-- Page End -->



<!-- JQuery -->
<script src="js/jquery-1.12.4.min.js"></script>

<!-- Library JS -->
<script src="js/wedding_library.js"></script>
<script src="js/library/jquery.plugin.min.js"></script>
<script src="js/jquery.countdown.min.js"></script>




<!-- Theme JS -->
<script src="js/wedding_script.js"></script>


</body>
</html>
