<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lauren Glasky & Marc Silberman</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115975976-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-115975976-1');
    </script>


    <!-- Library CSS -->
    <link href="css/wedding_library.css" rel="stylesheet">

    <!-- Icons CSS -->
    <link href="fonts/themify-icons.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/wedding_style.css" rel="stylesheet">
    <link href="css/login-popup.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="css/leaves.css" type="text/css" media="screen">

    <!-- Google Fonts -->
   <link href="https://fonts.googleapis.com/css?family=Lato:300,400,900" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">


</head>
<body class="wed_firefly_only">


  <!-- Preloader -->
  <div class="wed_page_loader">
     <div class="wed_story_content wed_image_bck" data-color="#ff3">
      <div class="wed_heart_container_row_4">
        <img class="wed_fourth_heart_1" src="images/small_people/heart_1.png" alt="">
        <img class="wed_fourth_heart_2" src="images/small_people/heart_2.png" alt="">
        <img class="wed_fourth_heart_3" src="images/small_people/heart_3.png" alt="">
      </div>
      <div class="wed_story_small_img">
        <img src="images/small_people/small_couple.png" alt="">
      </div>

    </div>
  </div>
  <!-- Preloader End-->


  <!-- Page -->
  <div class="wed_page" id="wed_page">

    <!-- Header -->
    <header>
      <nav class="wed_light_nav wed_transp_nav">
        <div class="container">

          <!-- couple header -->
          <img class="wed_couple_header wed_kissing_couple animated extra" src="images/3.png" alt=""/>
          <img class="wed_couple_header wed_white_couple animated extra" src="images/3_white_couple.png" alt=""/>
          <!-- couple header end -->

          <!-- Logo -->
          <a href="#" class="wed_logo wed_logo_animation">Lauren & Marc</a>

          <!-- Text Logo -->
          <div class="wed_logo_und">We're Getting Married!</div>


          <div class="wed_top_menu_mobile_link">
            <i class="ti ti-menu"></i>
          </div>
          <!-- Top Menu -->
          <div class="wed_top_menu_cont">
              <ul class="wed_top_menu">
                <li><a href="#">Home</a></li>
                <li><a href="#story">Story</a></li>
                <li><a href="#where">When & Where</a></li>
                <li><a href="#gallery">Pictures</a></li>
                <li><a href="#funbits">Tidbits</a></li>
                <li><a href="#registry">Gift Registry</a></li>
              </ul>
          </div>
          <!-- Top Menu End -->
        </div>
        <!-- container end -->
      </nav>

    </header>
    <!-- Header End -->

    <!-- Slider -->
    <div class="wed_slider wed_image_bck wed_fixed wed_wht_txt lgms1" data-stellar-background-ratio="0.2" data-image="images/personal/cover.jpg">

      <!-- over -->
      <div class="wed_over" data-color="#000" data-opacity="0.1" data-blend="multiply"></div>

      <div class="container">

        <!-- Slider Texts -->
        <div class="wed_slide_txt wed_slide_right text-center"  data-0="opacity:1;" data--400-bottom="opacity:0;">
          <img src="images/save_right2.png" height="550" alt="">
        </div>
        <!-- Slider Texts End -->

      </div>
      <!-- container end -->

    </div>
    <!-- Slider End -->

    <!-- Content -->
    <section id="wed_content" class="wed_content">

        <!-- section -->




        <!-- story section -->
        <section id="story" class="wed_section_outter">

          <div class="container">
            <div class="row">

                <div class="col-sm-12 col-md-offset-2 col-md-8 text-center">
                    <div class="wed_topstory_titile wed_great_titles">
                        <h2 class= "wed_without_after wed_image_bck" data-txt-color="#1A237E" >
                            Our <img class="wed_small_img" src="images/1.png" alt=""> Story
                        </h2>
                    </div>
                </div>
            </div>
            <!-- Row end -->

            <!-- animation -->
            <div data-animation="animation_blocks" data-bottom="@class:noactive" data--10-bottom="@class:active">
              <!-- item-->
              <div class="row wed_story_row">

                  <div class="col-sm-12 col-md-5 text-center wed_bd" >
                      <div class="wed_second_border wed_image_bck" data-border=transparent></div>
                      <div class="wed_portfolio_item wed_story_img">
                        <div class="wed_portfolio_item_cont wed_story_cont wed_image_bck" data-border="#B3E5FC">

                           <!--PHOTO-->
                          <img class= "wed_img_height" src="images/personal/first_pic.png" alt="" >
                            <!--ICON LINK-->
                          <span class="wed_port_titles">
                            <span class="wed_port_title">First Picture</span>
                            <span class="wed_port_subtitle">Winter 2010</span>
                            <span class="wed_port_icons">
                                <a href="#"><i class="ti ti-link"></i></a>
                                <a href="images/personal/first_pic.png" class="lightbox"><i class="ti ti-search"></i></a>
                            </span>
                          </span>
                          <!--END of ICON LINK-->

                        </div>
                      </div>
                  </div>

                  <div class="col-md-2 hidden-sm hidden-xs text-center">
                    <div class="wed_story_center">
                      <div class="wed_story_content wed_image_bck" data-color="#ff3">
                        <div class="wed_heart_container">
                          <img class="wed_heart_1" src="images/small_people/heart_3.png" alt="">
                          <img class="wed_heart_2" src="images/small_people/heart_2.png" alt="">
                        </div>
                        <div class="wed_story_small_img">
                          <img src="images/small_people/couple_1.png" alt="">
                        </div>

                      </div>
                    </div>
                  </div>

                  <div class="col-sm-12 col-md-5">
                    <div class="wed_story_txt">
                      <h3>We First Met</h3>
                      <div class="wed_month_year">Winter 2010</div>
                      <h5>Our first picture (with our respective dates cut out)</h5>
                      <p>We met at Cornell during Marc's Sophomore / Lauren's Freshman year. It definitely wasn't love at first sight - we don't remember meeting (and only found this picture in 2018)!</p>

                    </div>
                  </div>


                   <div class="wed_vertical_line wed_line_top hidden-sm hidden-xs"></div>
                </div>
                <!-- END of STORY ROW-1 -->
              </div>
              <!-- Animation End -->

              <!-- animation -->
              <div data-animation="animation_blocks" data-bottom="@class:noactive" data--10-bottom="@class:active">
                <!-- item-->
                <div class="row wed_story_row">

                  <div class="col-sm-12 col-md-5 col-md-push-7 text-center wed_bd">
                    <div class="wed_second_border_right wed_image_bck" data-border=transparent></div>
                    <div class="wed_portfolio_item wed_story_img">
                      <div class="wed_portfolio_item_cont wed_story_cont wed_image_bck" data-border="#B3E5FC">

                        <!--PHOTO-->
                        <img src="images/personal/winetour.jpg" alt="" class= "wed_img_height">
                        <!--ICON LINK-->
                        <span class="wed_port_titles">
                          <span class="wed_port_title">Wine Tour</span>
                          <span class="wed_port_subtitle">September 2010</span>
                          <span class="wed_port_icons">
                            <a href="#"><i class="ti ti-link"></i></a>
                            <a href="images/personal/winetour.jpg" class="lightbox"><i class="ti ti-search"></i></a>
                          </span>
                        </span>
                      <!--END of ICON LINK-->
                      </div>
                    </div>
                  </div>

                  <div class="col-md-2 hidden-sm hidden-xs text-center">
                    <div class="wed_story_center">
                      <div class="wed_story_content wed_image_bck" data-color="#ff3">
                        <div class="wed_heart_container_row_2">
                          <img class="wed_second_heart_1" src="images/small_people/heart_3.png" alt="">
                          <img class="wed_second_heart_2" src="images/small_people/heart_1.png" alt="">
                           <img class="wed_second_heart_3" src="images/small_people/heart_2.png" alt="">
                        </div>
                        <div class="wed_story_small_img">
                          <img src="images/small_people/couple_2.png" alt="">
                        </div>

                      </div>
                    </div>
                  </div>

                  <div class="col-sm-12 col-md-5 col-md-pull-7 text-right">
                    <div class="wed_story_txt">
                        <h3>Our First Date(s)</h3>
                        <div class="wed_month_year">Spring & Summer 2010</div>
                        <h5>Many first dates</h5>
                        <p> Later that year, the courtship began. After dates in Ithaca, NYC, and even Quogue, by September 2010, both Lauren and Marc knew they wanted to give this relationship an honest try.</p>
                      </div>
                  </div>
                  <div class="wed_vertical_line hidden-sm hidden-xs"></div>
                </div>
                <!-- END of STORY ROW-2 -->
              </div>
              <!-- Animation End -->

               <!-- animation -->
              <div data-animation="animation_blocks" data-bottom="@class:noactive" data--10-bottom="@class:active">
                <!-- item-->
                <div class="row wed_story_row">
                  <div class="col-md-5 text-center wed_bd">
                    <div class="wed_second_border wed_image_bck" data-border=transparent></div>
                    <div class=" wed_portfolio_item event wed_story_img">
                      <div class="wed_portfolio_item_cont wed_story_cont wed_image_bck" data-border="#B3E5FC">

                        <!--PHOTO-->
                        <img src="images/personal/graduation.jpg" alt="" class= "wed_img_height">
                        <!--ICON LINK-->
                        <span class="wed_port_titles">
                          <span class="wed_port_title">Lauren's Graduation</span>
                          <span class="wed_port_subtitle">May 2013</span>
                          <span class="wed_port_icons">
                            <a href="#"><i class="ti ti-link"></i></a>
                            <a href="images/personal/graduation.jpg" class="lightbox"><i class="ti ti-search"></i></a>
                          </span>
                        </span>
                      <!--END of ICON LINK-->

                      </div>
                    </div>
                  </div>

                  <div class="col-md-2 hidden-sm hidden-xs text-center">
                    <div class="wed_story_center">
                      <div class="wed_story_content wed_image_bck" data-color="#ff3">
                        <div class="wed_heart_container_row_3">
                          <img class="wed_third_heart_1" src="images/small_people/heart_third_step_3.png" alt="">
                        </div>
                        <div class="wed_story_small_img">
                          <img src="images/small_people/small_couple_third.png" alt="">
                        </div>

                      </div>
                    </div>
                  </div>

                  <div class="col-md-5">
                    <div class="wed_story_txt">
                      <h3>The "Real World"</h3>
                      <div class="wed_month_year">May 2013</div>
                      <h5>Finally together in NYC</h5>
                      <p>After extended periods of time apart, from semesters abroad in Rome and Hong Kong, and Lauren's senior year at Cornell (with Marc in NYC), we finally entered the "real world" together after Lauren's graduation. We each started (and left) our first jobs, and got to know each other's roommates (a little too well), as we rarely spent nights apart. A special thanks to Melissa (and Ranger) for letting Marc become an "unofficial" tenant of 10 Hanover Square!</p>
                    </div>
                  </div>
                  <div class="wed_vertical_line hidden-sm hidden-xs"></div>
                </div>
                <!-- END of STORY ROW-3 -->
              </div>
              <!-- Animation End -->

              <!-- animation -->
              <div data-animation="animation_blocks" data-bottom="@class:noactive" data--10-bottom="@class:active">
                <!-- item-->
                <div class="row wed_story_row">

                  <div class="col-sm-12 col-md-5 col-md-push-7 text-center wed_bd">
                    <div class="wed_second_border_right wed_image_bck" data-border=transparent></div>
                    <div class="wed_portfolio_item event wed_story_img">
                      <div class="wed_portfolio_item_cont wed_story_cont wed_image_bck" data-border="#B3E5FC">

                        <!--PHOTO-->
                        <img src="images/personal/proposal.jpg" alt="" class= "wed_img_height">
                        <!--ICON LINK-->
                        <span class="wed_port_titles">
                          <span class="wed_port_title">Los Cabos, Mexico</span>
                          <span class="wed_port_subtitle">January 2018</span>
                          <span class="wed_port_icons">
                            <a href="#"><i class="ti ti-link"></i></a>
                            <a href="images/personal/proposal.jpg" class="lightbox"><i class="ti ti-search"></i></a>
                          </span>
                        </span>
                        <!--END of ICON LINK-->

                      </div>
                    </div>
                  </div>

                  <div class="col-md-2 hidden-sm hidden-xs text-center">
                    <div class="wed_story_center">
                      <div class="wed_story_content wed_image_bck" data-color="#ff3">
                        <div class="wed_heart_container_row_4">
                          <img class="wed_fourth_heart_1" src="images/small_people/heart_1.png" alt="">
                          <img class="wed_fourth_heart_2" src="images/small_people/heart_2.png" alt="">
                           <img class="wed_fourth_heart_3" src="images/small_people/heart_3.png" alt="">
                        </div>
                        <div class="wed_story_small_img">
                          <img src="images/small_people/small_couple.png" alt="">
                        </div>

                      </div>
                    </div>
                  </div>

                  <div class="col-sm-12 col-md-5 col-md-pull-7 text-right">
                    <div class="wed_story_txt">
                      <h3>The Proposal</h3>
                      <div class="wed_month_year">January 9, 2018</div>
                      <h5>A vacation like no other</h5>
                      <p>It started off like a regular vacation in Cabo San Lucas - days filled with fitness activities and lounging by the pool. Little did Lauren know that this vacation would be anything but regular! On the way out to dinner one evening, Marc suggested attending a tequila tasting hosted by the hotel. After a short walk, the only thing in sight was a beautiful sunset over the Sea of Cortez and a lantern surrounded by rose pedals. Marc got down on one knee, and Lauren said yes! The rest of the night was spent celebrating over a Mexican feast (including tequila, of course)! </p>
                    </div>
                  </div>
                  <div class="wed_vertical_line wed_line_bottom hidden-sm hidden-xs"></div>
                </div>
                <!-- END of STORY ROW-4 -->
              </div>
              <!-- Animation End -->
          </div>
          <!-- END of CONTAINER -->

        </section>
        <!-- Section end -->


      <!-- White border -->
      <div class="wed_white_inner_border">
        <!-- section -->
        <section id="where" class="wed_section_inner wed_image_bck wed_wht_txt wed_fixed lgms_celebrate" data-stellar-background-ratio="0.2" data-image="images/personal/welcome_event.jpg">
          <!-- Over -->
          <div class="wed_over" data-color="#3336ff" data-opacity="0"></div>
          <div class="wed_over" data-color="#3336ff" data-opacity="0" data-blend="screen"></div>

          <div class="container">
            <div class="row wed_auto_height wed_middle_titles">
              <div class="col-md-12 wed_image_bck wed_fixed text-center" >
                  <h2>Can't Wait to Celebrate!</h2>
              </div>
              <!-- col end -->
            </div>
            <!-- row end -->
            <span class="wed_countdown" data-year="2019" data-month="07" data-day="04"></span>

          <!-- boxes -->
          <div class="wed_icon_boxes row text-center">

              <div class="col-md-6 col-md-offset-3">

                          <span class="wed_gifts_img wed_image_bck wed_image_bck_lg" data-border="#B3E5FC">
                            <h4>
                            <a class="login-popup wed_news_block text-center" href="#small-dialog">Details & Accommodations!</a>
                          </h4>
                          </span>

          </div>
          <!-- boxes end -->
        </div>
        <!-- container end -->
      </section>
      <!-- section end -->

      </div>
      <!-- Border End -->
      </div>
      <!-- White border end-->

      <!-- section -->
      <section id="gallery" class="wed_section_outter wed_image_bck">


        <div class="container text-center wed_great_titles" >

          <h2>Pictures Over The Years</h2>


          <!-- filters -->
          <div class="button-group filter-button-group">
            <a data-filter="*">Show All</a>
            <a data-filter=".web_design">Around New York</a>
            <a data-filter=".graphic_design">Our Travels</a>
            <a data-filter=".logo_design">Engagement</a>
          </div>
          <!-- filters end -->


          <!-- grid -->
          <div class="wed_portfolio grid">

              <!-- item -->
              <div class="col-sm-3 wed_portfolio_item grid-item logo_design">
                <div class="wed_portfolio_item_cont">
                  <img src="images/personal/theroom.jpg" alt="">
                  <span class="wed_port_titles">
                    <span class="wed_port_title">Engagement</span>
                    <span class="wed_port_icons">
                      <a href="#"><i class="ti ti-link"></i></a>
                      <a href="images/personal/theroom.jpg" class="lightbox"><i class="ti ti-search"></i></a>
                    </span>
                  </span>
                </div>
              </div>

              <!-- item -->
              <div class="col-sm-3 wed_portfolio_item grid-item graphic_design">
                <div class="wed_portfolio_item_cont">
                  <img src="images/personal/bigbuddha.jpg" alt="">
                  <span class="wed_port_titles">
                    <span class="wed_port_title">Hong Kong</span>
                    <span class="wed_port_icons">
                      <a href="#"><i class="ti ti-link"></i></a>
                      <a href="images/personal/bigbuddha.jpg" class="lightbox"><i class="ti ti-search"></i></a>
                    </span>
                  </span>
                </div>
              </div>

              <!-- item -->
              <div class="col-sm-3 wed_portfolio_item grid-item logo_design">
                <div class="wed_portfolio_item_cont">
                  <img src="images/personal/shackfun.jpg" alt="">
                    <span class="wed_port_titles">
                      <span class="wed_port_title">Engagement</span>
                      <span class="wed_port_icons">
                        <a href="#"><i class="ti ti-link"></i></a>
                        <a href="images/personal/shackfun.jpg" class="lightbox"><i class="ti ti-search"></i></a>
                      </span>
                  </span>
                </div>
              </div>

              <!-- item -->
              <div class="col-sm-3 wed_portfolio_item grid-item web_design">
                <div class="wed_portfolio_item_cont">
                  <img src="images/personal/running.jpg" alt="">
                  <span class="wed_port_titles">
                    <span class="wed_port_title">Brooklyn Half Marathon</span>
                    <span class="wed_port_icons">
                      <a href="#"><i class="ti ti-link"></i></a>
                      <a href="images/personal/running.jpg" class="lightbox"><i class="ti ti-search"></i></a>
                    </span>
                  </span>
                </div>
              </div>

              <!-- item -->
              <div class="col-sm-3 wed_portfolio_item grid-item graphic_design">
                <div class="wed_portfolio_item_cont">
                  <img src="images/personal/theoffice.jpg" alt="">
                  <span class="wed_port_titles">
                    <span class="wed_port_title">Los Cabos</span>
                      <span class="wed_port_icons">
                        <a href="#"><i class="ti ti-link"></i></a>
                        <a href="images/personal/theoffice.jpg" class="lightbox"><i class="ti ti-search"></i></a>
                      </span>
                  </span>
                </div>
              </div>


              <!-- item -->
              <div class="col-sm-3 wed_portfolio_item grid-item web_design">
                <div class="wed_portfolio_item_cont">
                  <img src="images/personal/usopen.jpg" alt="">
                  <span class="wed_port_titles">
                    <span class="wed_port_title">The US Open</span>
                    <span class="wed_port_icons">
                      <a href="#"><i class="ti ti-link"></i></a>
                      <a href="images/personal/usopen.jpg" class="lightbox"><i class="ti ti-search"></i></a>
                    </span>
                  </span>
                </div>
              </div>

              <!-- item -->
              <div class="col-sm-3 wed_portfolio_item grid-item logo_design">
                <div class="wed_portfolio_item_cont">
                  <img src="images/personal/dipping.jpg" alt="">
                  <span class="wed_port_titles">
                    <span class="wed_port_title">Engagement</span>
                    <span class="wed_port_icons">
                      <a href="#"><i class="ti ti-link"></i></a>
                      <a href="images/personal/dipping.jpg" class="lightbox"><i class="ti ti-search"></i></a>
                    </span>
                  </span>
                </div>
              </div>

              <!-- item -->
              <div class="col-sm-3 wed_portfolio_item grid-item graphic_design">
                <div class="wed_portfolio_item_cont">
                  <img src="images/personal/carmel.jpg" alt="">
                  <span class="wed_port_titles">
                    <span class="wed_port_title">Pebble Beach</span>
                      <span class="wed_port_icons">
                        <a href="#"><i class="ti ti-link"></i></a>
                        <a href="images/personal/carmel.jpg" class="lightbox"><i class="ti ti-search"></i></a>
                      </span>
                  </span>
                </div>
              </div>

            <!-- item -->
            <div class="col-sm-3 wed_portfolio_item grid-item web_design">
              <div class="wed_portfolio_item_cont">
                <img src="images/personal/kimmel.jpg" alt="">
                <span class="wed_port_titles">
                    <span class="wed_port_title">Jimmy Kimmel Live (in Brooklyn)</span>
                      <span class="wed_port_icons">
                        <a href="#"><i class="ti ti-link"></i></a>
                        <a href="images/personal/kimmel.jpg" class="lightbox"><i class="ti ti-search"></i></a>
                      </span>
                    </span>
                  </div>
                </div>

              <!-- item -->
              <div class="col-sm-3 wed_portfolio_item grid-item graphic_design">
                <div class="wed_portfolio_item_cont">
                  <img src="images/personal/santamonica.jpg" alt="">
                  <span class="wed_port_titles">
                    <span class="wed_port_title">Santa Monica</span>
                      <span class="wed_port_icons">
                        <a href="#"><i class="ti ti-link"></i></a>
                        <a href="images/personal/santamonica.jpg" class="lightbox"><i class="ti ti-search"></i></a>
                      </span>
                  </span>
                </div>
              </div>

              <!-- item -->
              <div class="col-sm-3 wed_portfolio_item grid-item logo_design">
                <div class="wed_portfolio_item_cont">
                  <img src="images/personal/lobby1.jpg" alt="">
                  <span class="wed_port_titles">
                    <span class="wed_port_title">Engagement</span>
                    <span class="wed_port_icons">
                      <a href="#"><i class="ti ti-link"></i></a>
                      <a href="images/personal/lobby1.jpg" class="lightbox"><i class="ti ti-search"></i></a>
                    </span>
                  </span>
                </div>
              </div>

          </div>
          <!-- grid end -->

        </div>
        <!-- container end -->

      </section>
      <!-- section end -->


      <!-- section -->
      <section id="funbits" class="wed_section_inner wed_image_bck wed_fixed wed_wht_txt lgms_t1" data-stellar-background-ratio="0.2" data-image="images/personal/tidbits1.jpg" >
        <!-- OVER -->
        <div class="wed_over" data-color="#000" data-opacity="0.1"></div>
        <div class="container">
            <div class="row wed_auto_height wed_middle_titles ">

                <!-- animation -->
              <div data-animation="animation_blocks" data-bottom="@class:noactive" data--100-bottom="@class:active">

                <div class="col-md-5 wed_image_bck wed_fixed text-left wed_small_arrow">
                    <h2 class="wed_image_bck" data-txt-color="#ff3">Tidbits</h2>
                    <h4>What is your favorite thing to do together?</h4>
                    <p>A perfect day for us is a long bike ride around the streets of Quogue, followed by dinner at one of our favorite Long Island restaurants, and finished off by a stop at Snowflake Ice Cream Shoppe in Riverhead, NY.</p>
                    <h4>What was the first movie you watched together?</h4>
                    <p>Mildly embarrassed to admit that the first movie we watched together was the 2004 dramedy Garden State, although we’re still not sure if Lauren stayed awake past the opening credits!</p>
                </div>
                <!-- col end -->

              </div>
              <!-- Animation End -->
            </div>
            <!-- row end -->
        </div>
        <!-- container end -->
      </section>
      <!-- section end -->

      <!-- section -->
      <section class="wed_section_inner wed_image_bck wed_fixed wed_wht_txt lgms_t1" data-stellar-background-ratio="0.2" data-image="images/personal/tidbits2.jpg" >

        <!-- OVER -->
        <div class="wed_over" data-color="#000" data-opacity="0.1"></div>

        <div class="container">
          <div class="row wed_auto_height wed_middle_titles">

            <!-- animation -->
            <div data-animation="animation_blocks" data-bottom="@class:noactive" data--100-bottom="@class:active">

              <div class="col-md-5 col-md-offset-7 wed_image_bck wed_fixed text-left" >
                  <h4>Who does more household chores?</h4>
                  <p>Marc by a mile!</p>
                  <h4>What's your most memorable date?</h4>
                  <p>This one is tough, but it has to be our full day celebration for our 5th anniversary. The day started with waterskiing in Peconic Bay, followed by brunch and apple picking on the North Fork. It was so memorable that we've made waterskiing an anniversary tradition. </p>
                  <h4>Who is the better golfer?</h4>
                  <p>This may be the most controversial question of all. Although Marc (thinks) he’s better with his driver, Lauren definitely has the prettier overall swing!</p>
              </div>
              <!-- col end -->
            </div>
            <!-- Animation End -->

          </div>
          <!-- row end -->
        </div>
        <!-- container end -->

      </section>
      <!-- section end -->

      <!-- White border -->
      <div class="wed_white_inner_border">

      <!-- section -->
      <section id="registry" class="wed_section_outter wed_image_bck">
        <div class="container text-center wed_great_titles">

        <h2>Gift Registry</h2>
          <!-- boxes -->
          <div class="wed_icon_boxes row text-center">

              <div class="col-md-8 col-md-offset-2">
                  <div class="row">
                      <!-- item -->
                    <div class="col-md-4 col-sm-4">
                        <a href="https://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?registryId=545488207&eventType=Wedding&pwsurl=" target="_blank" class="wed_news_block">
                          <span class="wed_gifts_img wed_image_bck" data-border="#B3E5FC">
                            <img src="images/personal/bedbath.jpeg" alt=""/>
                          </span>
                        </a>
                    </div>

                    <!-- item -->
                    <div class="col-md-4 col-sm-4">
                      <a href="https://www.bloomingdales.com/registry/wedding/guest/?registryId=2375085" target="_blank" class="wed_news_block">
                        <span class="wed_gifts_img wed_image_bck" data-border="#B3E5FC">
                           <img src="images/personal/bloomingdales.png" alt=""/>
                        </span>
                      </a>
                    </div>

                    <!-- item -->
                    <div class="col-md-4 col-sm-4">
                      <a href="https://www.zola.com/registry/lauren_and_marc" target="_blank" class="wed_news_block">
                        <span class="wed_gifts_img wed_image_bck" data-border="#B3E5FC">
                           <img src="images/personal/zola.png" alt=""/>
                        </span>
                      </a>
                    </div>

          </div>
          <!-- boxes end -->
        </div>
        <!-- container end -->
      </section>
      <!-- section end -->


      </div>
      <!-- Border End -->

          <!-- To Top -->
        <a href="#wed_page" class="wed_top ti ti-angle-up wed_go wed_image_bck" data-txt-color="#1A237E"></a>
      </div>
      <!-- White border end -->
    </section>
    <!-- content end -->
  </div>
  <!-- Page End -->
  <footer class="footer-love">❤️ made by Lauren and Marc ❤️</footer>

  <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
  <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
    <h1>View Details</h1>
    <p>Please enter your password to continue.</p>
    <form action="submit" id="loginform">
      <input name="pass" type="password" class="form-control">
      <br>
      <button class="btn btn-block">Submit</button>
    </form>
    <div class="alert alert-warning hidden">
      Error: invalid password.
    </div>
  </div>



<!-- JQuery -->
<script src="js/jquery-1.12.4.min.js"></script>

<!-- Library JS -->
<script src="js/wedding_library.js"></script>
<script src="js/library/jquery.plugin.min.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/login.js"></script>




<!-- Theme JS -->
<script src="js/wedding_script.js"></script>
<script src="js/login-popup.js"></script>


</body>
</html>
